body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td.not-selected {
    background-color: #b0c4de;

}

td.selected {
    background-color: #ffffff;

}
